<div class="row">
    <div class="col-sm-6">
        <!-- <ea-17-recipe-list (sendEventToParentRecipe)="catchEventFromChildList($event)">
        </ea-17-recipe-list> -->
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-sm-6">
        <!-- <ea-17-recipe-details *ngIf="currentSelectedRecipe;else elsePart"
            [catchRecipeDataFromParent]="currentSelectedRecipe">

        </ea-17-recipe-details>
        <ng-template #elsePart>
            <h5 class="mt-4">
                <i class="fa fa-hand-o-left" aria-hidden="true"></i>
                Please choose a recipe from the list to see the details
            </h5>

        </ng-template> -->
        <router-outlet></router-outlet>
    </div>
</div>



