<!-- <ea-17-header (sendEventToAppParent)="catchEventFromHeaderChild($event)"></ea-17-header> -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- <div class="border border-dark">
        <ea-17-recipe *ngIf="currentSelectedFeature ==='recipe'"></ea-17-recipe>
      </div>
      <div class="border border-dark">
        <ea-17-shopping *ngIf="currentSelectedFeature ==='shopping'"></ea-17-shopping> -->
      <!-- </div> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


