.box {
  width: 30px;
  height: 30px
}

table {
  border-collapse: collapse;
  empty-cells: show;
  width: 50%;

}

td {
  position: relative;
}

tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #c92323;
  width: 100%;
}

td {
  width: 100px;
}

th {
  text-align: left;
}